{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'anton/css/anton.css' %}">
{% endblock %}

{% block header %}
<h1>Антон</h1>
{% endblock %}

{% block main %}
<p>
    Я люблю читати. Я читаю книги різних жанрів: детектив, фантастика, науково-популярні книги тощо. Також люблю читати книги, присвячені
    військовій справі та програмуванню. 
    

</p>
<img class="hobbyPictures" src="https://img.freepik.com/free-vector/hand-drawn-flat-design-stack-of-books-illustration_23-2149341898.jpg" alt="">

<p>
    Наступне моє хобі це грати у шахи. 
    На мою думку, шахи розвивають здатність до послідовного мислення. Коли ти граєш у шахи, ти повинен
    продумувати кожен твій хід, щоб перемогти у партії, а не грати навмання.
</p>

<p> 
    Слідуюче моє хобі це програмування. 
   


</p>

<img class="hobbyPictures" src="https://i.pinimg.com/1200x/33/0e/aa/330eaa9d22826aff3d47fbcec09cc24f.jpg" alt="">

<p>
    Це приносить мені задоволення. Я вважаю, що розробляти якісь додатки, сайти та інше допомагають тобі розвивати
    нестандартне мислення. Також у програмуванні все, що тебе обмежує - це твоя фантазія. Ти можеш робити все, що захочеш, тому я думаю, що
    розробка програмного забезпечення - це заннятя, де я можу застосувати свою уяву на всі 100%.
</p>
{% endblock %}