main {
    margin-right: 0%;
}

main .content{
    float: left;
    margin-right: 0%;
    max-width: 75%;
}

main .additionalInfo{
    float: right;
    width: 25%;
}

main h1 {
    margin: 0%;
    width: 100%;
    font-size: 220%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0%;
}
main .content p{
    font-size: 140%;
}
img {
    width: 95%;
    border: 2px solid #1d6804;
}
.foot, footer{
    position: absolute;
    text-align: right;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    font-size: 150%;
    border-top: 2px solid #1d6804;
    background: linear-gradient(to right, #379683, #347568);
}
footer a{
    margin-right: 30px;
}