@font-face {
    font-family: 'MyFont';
    src: url('/static/main/font/font.otf') format('opentype');
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
body{
    background: linear-gradient(to left, #78cb98, #50d28b, #7cdca1);
    background-repeat: repeat-y;
    display: inline-block;
    font-family: 'MyFont', sans-serif;
}
header{
    background: #379683;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #1d6804;
}
header h1{
    margin-left: 2%;
}

p{
    margin: 0;
}

a{
    color: #05386B  ;
}

header a{
    margin-right: 2%;
    font-size: 200%;
}



iframe {
    border-radius: 5%;
}

.block_div {
    text-align: center;
    height: 200px;
    box-shadow: 2px 2px 10px black;
    margin: 20px;
    font-size: 30px;
    border-radius: 10px;
}