{% extends 'main/base.html' %}
{% load static %}

{% block links %}
{% endblock %}

{% block header %}
<h1>Ярослав</h1>
{% endblock %}

{% block main %}
<!-- <div id="div_h1">
    <h1>Yaroslav Досягнення в програмуванні</h1>
</div> -->
<div id="div2">
    <div class="block_div">
        Телеграм бот "Онлайн магазин"
    </div>
</div>
<div id="div3">
    <div class="block_div">
        Онлайн ШІ телеграм ассистент
    </div>
</div>
<div id="div3">
    <div class="block_div">
        Телеграм бот хрестики-нолики
    </div>
</div>
{% endblock %}


