<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="icon" href="{% static 'main/img/favicon.png' %}" type="image/x-icon">
    {% block link %}
    {% endblock %}
    <title>Моє портфоліо</title>
    
</head>
<body>
    <header>
        <h1>Моє портфоліо</h1>
        {% block header %}
        {% endblock %}
        <a class='mainPage' href="{% url 'main' %}">Перейти на головну</a>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block foother %}
        {% endblock %}
    </footer>
</body>
</html>