{% extends 'main/base.html'%}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'misha/css/style.css' %}">
{% endblock %}

{% block header %}
<h1>Михайло</h1>
{% endblock %}

{% block main %}
<p>
    Я навчався на курсі Python Logika, а отримав диплом WorldIt. Під час навчання на курсах я приймав участь у командних проектах. Ми створювали 2D гру-платформер, редактор фото, музикальний плеєр та генератор QR-коду.
</p>

<img id="MishaProgramming" src="https://naurok.com.ua/uploads/blog/3012/1210.jpg" alt="">
{% endblock %}